rest_framework
django
asyncio
_distutils_hack
asgiref
asgiref-3.5.0.dist-info
asgiref-3.5.0.dist-info
django
Django-4.0.3.dist-info
djangorestframework-3.13.1.dist-info
pip
pep8-1.7.1.dist-info
pkg_resources
tzdata
psycopg2
sqlparse-0.4.2.dist-info
pip-21.2.4.dist-info
PyJWT-2.4.0.dist-info
pytz
pytz-2022.1.dist-info
sqlparse
psycopg2-2.9.3.dist-info
tzdata-2021.5.dist-info
setuptools
rest_framework
setuptools-58.1.0.dist-info
distutils-precedence.pth
rest_framework_simplejwt


---------------------------------------------------------
ADMIN-DETAILS

username:'ram'
password:'1234'